<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${emptyUser}">

  <label for="full_name">Enter Full name:</label>
  <input type="text" th:field="*{full_name}" id="full_name"/>

  <p style="color:red" th:if="${#fields.hasErrors('full_name')}" th:errors="*{full_name}">ERROR</p>

<p></p>
  <label for="year_of_birth">Enter year of birth:</label>
  <input type="number" value="1900" min=1899 th:field="*{year_of_birth}" id="year_of_birth"/>

  <br/>

  <input type="submit" value="Create!">

</form>
</body>
</html>