<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.book_id})}" th:object="${book}">

    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <!--  <p style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">ERROR</p>-->
    <br/>
    <label for="author">Enter Author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <!--  <p style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">ERROR</p>-->

    <br/>
    <label for="release_year">Enter release year: </label>
    <input type="number"  th:field="*{release_year}" id="release_year"/>
    <!--  <p style="color:red" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">ERROR</p>-->

    <br/>

    <input type="submit" value="Edit!">

</form>
</body>
</html>